.create-container {
    font-family: "Poppins", sans-serif;
}
.create-quiz {
    padding: 27px 27px 0px 27px;
}

.create-container #quiz-name {
    width: 100%;
    padding: 13px 12px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    box-shadow: 0px 0px 14.5px rgba(0, 0, 0, 0.2);
}

.create-container #quiz-name::placeholder{
    font-family: "Poppins", sans-serif;
}

.quiz-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #9F9F9F;
    margin-top: 13px;
}

.quiz-type-options {
    text-align: center;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 4px 0px;
    width: 100px;
    box-shadow: 0px 0px 14.5px rgba(0, 0, 0, 0.2); 
    cursor: pointer;    
}

.quiz-created {
    padding: 40px 25px 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.quiz-created h2 {
    width: 70%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 550;
    color: #474444;
}

.quiz-created input {
    width: 90%;
    padding: 11px 15px;
    border: none;
    outline: none;
    background-color: #EDEDED;
    font-size: 1.1rem;
    font-weight: 550;
    color: #474444;
    border-radius: 10px;
}

.quiz-created .quiz-created-share {
    width: 40%;
    padding: 6px;
    border: none;
    outline:none;
    background-color: #60B84B;
    color: white;
    font-size: 0.95rem;
    font-weight: 550;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.quiz-created button:hover {
    transform: scale(1.02,1.02);
}

.quiz-created img {
    position: fixed;
    height: 17px;
    width: 17px;
    object-fit: contain;
    top: 17px;
    right: 17px;
    cursor: pointer;
}

.quiz-created img:hover {
    transform: scale(1.1,1.1);
}

.Toastify__toast-container {
  width: 40% !important;
  font-size: 14px !important;
  height: 10% !important;
}