.question-container {
    width: 100%;
    height: 100%;
    padding: 1rem 0;
}

.question-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.question-heading {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 650;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.question-container h3 {
    font-size: 1.5rem;
    text-align: left;
    width: 90%;
}


.question-timer {
    color: #D60000;
}

.quesiton-options {
    padding: 15px;
    width: 90%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 25px;
    column-gap: 7rem;
}

.quesiton-options .option {
    width: 40.6%;
    height: 90px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #F0F0F0;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 550;
    
}
.quesiton-options .option #type-image {
    width: 100%;
    height: 100%;
    object-fit:fill;
    border-radius: 0.5rem;
}

.quesiton-options .option span {
    font-size: 0.8rem;
    margin-left: 10px;
}

.quesiton-options .option #type-text-image {
    width: 60%;
    margin-left: 10px;
    height: 100%;
    object-fit:fill;
    border-radius: 8px;
}

.quesiton-options .option.selected {
    border: 2.5px solid #5076FF;
}

.test-btn {
    width: 30%;
    padding: 7px 0px;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #60B84B;
    font-weight: 550;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
}

.test-btn:hover{
    transform: scale(1.02, 1.02);
}

.congrats {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.congrats-heading {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 1rem;
}
.trophy {
    height: 65%;
    object-fit: contain;
}

.congrats-score {
    font-size: 1.6rem;
    font-weight: 700;
}

.score-count {
    color: #60B84B;
}

.poll-result {
    height: 100%;
    margin-top: 0px;
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media only screen and (max-width: 699px){
    .question-container {
        overflow-y: scroll;
    }
    .question-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
        min-height: 85vh;
    }
    
    .question-heading { 
        margin-top: 5px;
        font-size: 1.4rem;   
    }
    .question-container h3 {
        margin-top: 1.3rem;
        text-align: center;
    }
    .quesiton-options {
        padding: 5px;
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 1.2rem;
        column-gap: 0px;
    }
    .quesiton-options .option {
        width: 95%;
        height: 90px;
    }
    .quesiton-options .option #type-image {
        width: 100%;
        height: 100%;
    }
    .test-btn {
        width: 45%;
        margin-top: 0.8rem;
        border-radius: 8px;
        
    }
    .congrats {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .trophy {
        height: 44%;
        object-fit: contain;
    }
    .congrats-heading {
        width: 85%;
        text-align: center;
        font-size: 1.9rem;
        margin-top: 0px;
    }
    .congrats-score {
        text-align: center;
        width: 70%;
        font-size: 1.9rem;
        font-weight: 700;
    }
    .poll-result {
        height: 90vh;
        margin-top: 0px;
        font-size: 2rem;
        font-weight: 700;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
    }
    .poll-text-img {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 2px;
    }
    .poll-text-img .poll-text{
        position: absolute;
        color: white;
    }
    .poll-text-img .poll-text span{
        font-size: 1.2rem;
    }

    .poll-text-img #poll-img {
        width: 100%;
        height: 100%;
        object-fit:fill;
        border-radius: 5px;
    }
}